/*  */
@media screen and (max-width: 1157.8px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .section + .services {
    padding-top: 0px;
  }

  .services-header {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-dark-color);
  }

  .services-list {
    display: flex;
    gap: 24px;
  }
}
