/* 
 */
@media screen and (max-width: 427.8px) {
  .container {
    max-width: 397px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 428px) and (max-width: 767.8px) {
  .container {
    max-width: 667px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157.8px) {
  .container {
    min-width: 736px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    min-width: 1126px;
    max-width: 1440px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
